.wrapper{

    margin: 30px 50px;
    width: 850px;
    height: 400px;

}

.tech {
    width: 50vw;
    border-bottom: 1px solid lightgrey;
    padding: 14px 20px;

}

.developer {
    width: 50vw;
    border-bottom: 1px solid lightgrey;
    padding: 14px 20px;

}

.techHeader {
    padding: 10px 20px;
    height: 40px;
    width: 50vw;
    background-color: lightgrey;
}

.developerHeader {
    padding: 10px 20px;
    height: 40px;
    background-color: lightgrey;

}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
}

.loading {

}