.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-left: 30px;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;



}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-right: 30px;
}
