.buttonsContainer {
    margin-top: 28px;
    color: #FFFFFF;

    display: flex;
    gap: 8px;



}

.button {

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;

    width: 100px;
    height: 34px;


}


.clock {
    margin: 30px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.watch {
    margin-bottom: 8px;

}

.watch strong {
}

.more {
    font-size: 16px;
    opacity: 0.5;
}
