.item {
}

.item:last-of-type {
}

.users {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;



    color: #000000;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.container {

}

.thead {
    display: flex;
    align-items: center;

    background-color: lightgrey;

    font-size: 17px;
    font-weight: bold;
}

.nameCol {
    display: flex;
    align-items: center;
    justify-content: center;




}

.ageCol {
    padding-left: 400px;

    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;

}