.sendForm {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 44px;
}

.textarea {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    background: #F5F7FB;
    border-radius: 20px;
    width: 976px;
    height: 40px !important;
    padding: 12px 24px;
    resize: none;
    margin-right: 44px;
    border: none;
}

.button {
    background: #0066CC;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border: none;
}

.button:hover {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);

}

.button:active {

    opacity: 0.7;
}
