.burgerMenuIcon {
    margin: 14px 0px 14px 70px;

}

.header {
    display: flex;
    align-items: center;
    box-shadow: 0 0 40px rgba(29, 33, 38, 0.13), 0 0 2px rgba(29, 33, 38, 0.1);
    justify-content: space-between;
}

.header h1 {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-right: 72px;

}